# <font color=#0404B4>**LAB 02 - TRỰC QUAN HÓA DỮ LIỆU** </font>

### <font color=#0404B4> Bảng thành viên nhóm </font>
|<center><div style="width:150px">MSSV</div><center>|<center><div style="width:290px">Họ và tên</div><center>|
|---------- |:-------------:|
| <center>20120041<center>  | <center>Trần Kim Bảo<center> |
| <center>20120053<center>  |   <center>Nguyễn Thành Đạt<center>   | 
| <center>20120071<center>  |<center>Nguyễn Thị Bích Hà<center> |
| <center>20120084<center>  | <center>Nguyễn Văn Hiếu<center> |
| <center>20120113<center>  | <center>Lê Nguyên Khang<center> |

# <font color=#0404B4>Import thư viện</font>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_theme()

# <font color=#0404B4> A. Thu thập dữ liệu</font>

### Tại sao lại chọn bộ dữ liệu này?

### Nguồn gốc và giấy phép sử dụng của bộ dữ liệu?

<a name="2"></a>
# <font color=#0404B4> B. Khám phá và tiền xử lý dữ liệu</font>

### 1. Đọc dữ liệu từ file và merge dữ liệu lại thành 1 dataframe

In [2]:
df1=pd.read_csv("mortality_life_expectancy.csv")

In [3]:
df1.shape

(15106, 15)

In [4]:
df2=pd.read_csv("age_specific_fertility_rates.csv")

In [5]:
df2.shape

(15106, 13)

In [6]:
df3=pd.read_csv("birth_death_growth_rates.csv")

In [7]:
df3.shape

(15109, 8)

In [8]:
merge_df=pd.merge(df1,df3,on=['country_code', 'country_name', 'year'])

In [9]:
df=pd.merge(merge_df,df2,on=['country_code', 'country_name', 'year'])

In [10]:
df.head()

,country_code,country_name,year,infant_mortality,infant_mortality_male,infant_mortality_female,life_expectancy,life_expectancy_male,life_expectancy_female,mortality_rate_under5,...,fertility_rate_15_19,fertility_rate_20_24,fertility_rate_25_29,fertility_rate_30_34,fertility_rate_35_39,fertility_rate_40_44,fertility_rate_45_49,total_fertility_rate,gross_reproduction_rate,sex_ratio_at_birth
0,SI,Slovenia,2036,3.39,3.76,3.00,80.90,77.51,84.52,3.93,...,8.5,60.2,112.0,86.3,32.0,8.8,3.7,1.5555,0.7529,1.0660
1,SI,Slovenia,2022,3.76,4.22,3.27,79.11,75.58,82.89,4.43,...,7.5,56.4,106.1,75.5,26.7,6.4,2.3,1.4110,0.6829,1.0661
2,SI,Slovenia,2023,3.73,4.18,3.25,79.26,75.73,83.02,4.39,...,7.6,56.5,106.6,76.2,27.2,6.6,2.4,1.4213,0.6879,1.0660
3,SI,Slovenia,2024,3.70,4.14,3.22,79.40,75.89,83.15,4.35,...,7.7,56.8,107.0,77.1,27.5,6.7,2.5,1.4316,0.6929,1.0660
4,SI,Slovenia,2025,3.67,4.10,3.20,79.55,76.04,83.29,4.31,...,7.7,56.9,107.4,78.0,27.7,6.9,2.6,1.4419,0.6979,1.0661

In [11]:
df.shape

(15106, 30)

### 2. Mỗi dòng có ý nghĩa gì? Có vấn đề các dòng có ý nghĩa khác nhau không?

* Mỗi dòng thể hiện thông tin của 1 quốc gia hoặc vùng lãnh thổ trong 1 năm, ví dụ như: thông tin tử vong và tuổi thọ trung bình (chia thành 2 nhóm nam và nữ), tỉ lệ sinh - tử (chi tiết ra thành những khoảng độ tuổi), tỉ lệ tăng trưởng.
* **Không** có dòng nào có ý nghĩa khác nhau.

### 3. Dữ liệu có các dòng bị lặp không?

Kiểm tra việc này và lưu kết quả vào biến `have_duplicated_rows`. Biến này sẽ có giá trị `True` nếu dữ liệu có các dòng bị lặp và có giá trị `False` nếu ngược lại. Các thuộc tính `country_code`, `country_name`, `year` được xem là những thuộc tính khóa chính, định danh cho từng mẫu của dataframe.

In [20]:
check_duplicated = set(df.loc[:,['country_code', 'country_name', 'year']].duplicated())

if True in check_duplicated:
    have_duplicated_rows = True
else:
    have_duplicated_rows = False
    
if (have_duplicated_rows == True):
    print('Có dòng dữ liệu bị lặp')
else:
    print('Không có dòng dữ liệu nào bị lặp')

Không có dòng dữ liệu nào bị lặp

<h3> 4. Mỗi cột có ý nghĩa gì?</h3>

In [27]:
df.head()

,country_code,country_name,year,infant_mortality,infant_mortality_male,infant_mortality_female,life_expectancy,life_expectancy_male,life_expectancy_female,mortality_rate_under5,...,fertility_rate_15_19,fertility_rate_20_24,fertility_rate_25_29,fertility_rate_30_34,fertility_rate_35_39,fertility_rate_40_44,fertility_rate_45_49,total_fertility_rate,gross_reproduction_rate,sex_ratio_at_birth
0,SI,Slovenia,2036,3.39,3.76,3.00,80.90,77.51,84.52,3.93,...,8.5,60.2,112.0,86.3,32.0,8.8,3.7,1.5555,0.7529,1.0660
1,SI,Slovenia,2022,3.76,4.22,3.27,79.11,75.58,82.89,4.43,...,7.5,56.4,106.1,75.5,26.7,6.4,2.3,1.4110,0.6829,1.0661
2,SI,Slovenia,2023,3.73,4.18,3.25,79.26,75.73,83.02,4.39,...,7.6,56.5,106.6,76.2,27.2,6.6,2.4,1.4213,0.6879,1.0660
3,SI,Slovenia,2024,3.70,4.14,3.22,79.40,75.89,83.15,4.35,...,7.7,56.8,107.0,77.1,27.5,6.7,2.5,1.4316,0.6929,1.0660
4,SI,Slovenia,2025,3.67,4.10,3.20,79.55,76.04,83.29,4.31,...,7.7,56.9,107.4,78.0,27.7,6.9,2.6,1.4419,0.6979,1.0661

|STT|Tên cột dữ liệu | <center>Mô tả<center> |<center> Đơn vị <center>|
|--|:------:| ---| --- |
|1|country_code|<center>Mã quốc gia/ mã vùng lãnh thổ<center>|
|2|country_name| <center>Tên quốc gia/ vùng lãnh thổ<center>|
|3|year|<center>Năm thu thập<center>| <center>Năm<center>
|4|infant_mortality| <center> Tỷ lệ tử vong sơ sinh<center>| <center>Số trẻ em chết sơ sinh/1.000 dân số<center>|
|5|infant_mortality_male|<center>Tỷ lệ tử vong sơ sinh ở nam<center>|  <center>Số trẻ em chết sơ sinh/1.000 dân số<center>| 
|6|infant_mortality_female|<center>Tỷ lệ tử vong sơ sinh ở nữ<center>| <center>Số trẻ em chết sơ sinh/1.000 dân số<center>|
|7|life_expectancy|<center>Tuổi thọ trung bình<center>| <center>Năm<center>|
|8|life_expectancy_male|<center>Tuổi thọ trung bình ở nam<center>| <center>Năm<center>|
|9|life_expectancy_female|<center>Tuổi thọ trung bình ở nữ<center>| <center>Năm<center>|
|10|mortality_rate_under5|<center>Tỷ lệ tử vong `dưới 5` tuổi<center>| |
|11|mortality_rate_under5_male|<center>Tỷ lệ tử vong `dưới 5` tuổi ở nam<center>| |
|12|mortality_rate_under5_female|<center>Tỷ lệ tử vong `dưới 5` tuổi ở nữ<center>| |
|13|mortality_rate_1to4|<center>Tỷ lệ tử vong `1-4` tuổi<center>| |
|14|mortality_rate_1to4_male|<center>Tỷ lệ tử vong `1-4` tuổi ở nam<center>|  |
|15|mortality_rate_1to4_female|<center>Tỷ lệ tử vong `1-4`tuổi ở nữ<center>|  |
|16|crude_birth_rate|<center>Tỷ lệ sinh thô<center>|<center>Sinh sản/1.000 dân số<center>|
|17|crude_death_rate|<center>Tỷ lệ tử vong thô<center>|<center>Số người chết/1.000 dân số<center>|
|18|net_migration|<center>Tỷ lệ di cư<center>|<center>Số người di dân/1.000 dân số<center>|
|19|rate_natural_increase|<center>ỷ lệ tăng tự nhiên<center>|<center>%<center>|
|20|growth_rate|<center>Tỷ lệ tăng trưởng<center>|<center>%<center>|
|21|fertility_rate_15_19|<center>Tỷ lệ sinh sản cụ thể theo độ tuổi `15-19`<center>|<center>Số trẻ sinh/1.000 dân số<center>|
|22|fertility_rate_20_24|<center>Tỷ lệ sinh sản cụ thể theo độ tuổi `20-24`<center>|<center>Số trẻ sinh/1.000 dân số<center>|
|23|fertility_rate_25_29|<center>Tỷ lệ sinh sản cụ thể theo độ tuổi `25-29`<center>|<center>Số trẻ sinh/1.000 dân số<center>|
|24|fertility_rate_30_34|<center>Tỷ lệ sinh sản cụ thể theo độ tuổi `30-34`<center>|<center>Số trẻ sinh/1.000 dân số<center>|
|25|fertility_rate_35_39|<center>Tỷ lệ sinh sản cụ thể theo độ tuổi `35-39`<center>|<center>Số trẻ sinh/1.000 dân số<center>|
|26|fertility_rate_40_44|<center>Tỷ lệ sinh sản cụ thể theo độ tuổi `40-44`<center>|<center>Số trẻ sinh/1.000 dân số<center>|
|27|fertility_rate_45_49|<center>Tỷ lệ sinh sản cụ thể theo độ tuổi `45-49`<center>|<center>Số trẻ sinh/1.000 dân số<center>|
|28|total_fertility_rate|<center>Tỷ lệ sinh sản tổng thể <center>|<center>con/phụ nữ<center>|
|29|gross_reproduction_rate|<center>Tỷ lệ sinh con gái<center>|<center>con/phụ nữ<center>|
|30|sex_ratio_at_birth|<center>Tỷ lệ giới tính khi sinh<center>|<center>Số trẻ sinh nam chia sô trẻ sinh nữ<center>|



* **Thời gian cập nhật dữ liệu:** năm 2017