# <font color=#0404B4>**LAB 01 - TRỰC QUAN HÓA DỮ LIỆU** </font>

### <font color=#0404B4> Bảng thành viên nhóm </font>
|<center><div style="width:150px">MSSV</div><center>|<center><div style="width:290px">Họ và tên</div><center>|
|---------- |:-------------:|
| <center>20120041<center>  | <center>Trần Kim Bảo<center> |
| <center>20120053<center>  |   <center>Nguyễn Thành Đạt<center>   | 
| <center>20120071<center>  |<center>Nguyễn Thị Bích Hà<center> |
| <center>20120084<center>  | <center>Nguyễn Văn Hiếu<center> |
| <center>20120113<center>  | <center>Lê Nguyên Khang<center> |

# <font color=#0404B4>Import thư viện</font>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_theme()

# <font color=#0404B4> A. Thu thập dữ liệu</font>

### Tại sao lại chọn bộ dữ liệu này?

### Nguồn gốc và giấy phép sử dụng của bộ dữ liệu?

<a name="2"></a>
# <font color=#0404B4> B. Khám phá và tiền xử lý dữ liệu</font>

### 1. Đọc dữ liệu từ file và merge dữ liệu lại thành 1 dataframe

In [3]:
df1=pd.read_csv("mortality_life_expectancy.csv")

In [4]:
df1.shape

(15106, 15)

In [5]:
df2=pd.read_csv("age_specific_fertility_rates.csv")

In [6]:
df2.shape

(15106, 13)

In [7]:
df3=pd.read_csv("birth_death_growth_rates.csv")

In [8]:
df3.shape

(15109, 8)

In [9]:
merge_df=pd.merge(df1,df3,on=['country_code', 'country_name', 'year'])

In [10]:
merge_df.shape

(15106, 20)

In [11]:
df=pd.merge(merge_df,df2,on=['country_code', 'country_name', 'year'])

In [25]:
df.shape

(15106, 30)

In [12]:
df.head()

,country_code,country_name,year,infant_mortality,infant_mortality_male,infant_mortality_female,life_expectancy,life_expectancy_male,life_expectancy_female,mortality_rate_under5,...,fertility_rate_15_19,fertility_rate_20_24,fertility_rate_25_29,fertility_rate_30_34,fertility_rate_35_39,fertility_rate_40_44,fertility_rate_45_49,total_fertility_rate,gross_reproduction_rate,sex_ratio_at_birth
0,SI,Slovenia,2036,3.39,3.76,3.00,80.90,77.51,84.52,3.93,...,8.5,60.2,112.0,86.3,32.0,8.8,3.7,1.5555,0.7529,1.0660
1,SI,Slovenia,2022,3.76,4.22,3.27,79.11,75.58,82.89,4.43,...,7.5,56.4,106.1,75.5,26.7,6.4,2.3,1.4110,0.6829,1.0661
2,SI,Slovenia,2023,3.73,4.18,3.25,79.26,75.73,83.02,4.39,...,7.6,56.5,106.6,76.2,27.2,6.6,2.4,1.4213,0.6879,1.0660
3,SI,Slovenia,2024,3.70,4.14,3.22,79.40,75.89,83.15,4.35,...,7.7,56.8,107.0,77.1,27.5,6.7,2.5,1.4316,0.6929,1.0660
4,SI,Slovenia,2025,3.67,4.10,3.20,79.55,76.04,83.29,4.31,...,7.7,56.9,107.4,78.0,27.7,6.9,2.6,1.4419,0.6979,1.0661

# Khang

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15106 entries, 0 to 15105
Data columns (total 30 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   country_code                  15106 non-null  object
 1   country_name                  15106 non-null  object
 2   year                          15106 non-null  int64
 3   infant_mortality              15106 non-null  float64
 4   infant_mortality_male         15106 non-null  float64
 5   infant_mortality_female       15106 non-null  float64
 6   life_expectancy               15106 non-null  float64
 7   life_expectancy_male          15106 non-null  float64
 8   life_expectancy_female        15106 non-null  float64
 9   mortality_rate_under5         15106 non-null  float64
 10  mortality_rate_under5_male    15106 non-null  float64
 11  mortality_rate_under5_female  15106 non-null  float64
 12  mortality_rate_1to4           15106 non-null  float64
 13  mortality_rate_1to4_male      15106 non-null  float64
 14  mortality_rate_1to4_female    15106 non-null  float64
 15  crude_birth_rate              15106 non-null  float64
 16  crude_death_rate              15106 non-null  float64
 17  net_migration                 15106 non-null  float64
 18  rate_natural_increase         15106 non-null  float64
 19  growth_rate                   15106 non-null  float64
 20  fertility_rate_15_19          15106 non-null  float64
 21  fertility_rate_20_24          15106 non-null  float64
 22  fertility_rate_25_29          15106 non-null  float64
 23  fertility_rate_30_34          15106 non-null  float64
 24  fertility_rate_35_39          15106 non-null  float64
 25  fertility_rate_40_44          15106 non-null  float64
 26  fertility_rate_45_49          15106 non-null  float64
 27  total_fertility_rate          15106 non-null  float64
 28  gross_reproduction_rate       15106 non-null  float64
 29  sex_ratio_at_birth            15106 non-null  float64
dtypes: float64(27), int64(1), object(2)
memory usage: 3.6+ MB

In [70]:
df.isnull().any()

country_code                    False
country_name                    False
year                            False
infant_mortality                False
infant_mortality_male           False
infant_mortality_female         False
life_expectancy                 False
life_expectancy_male            False
life_expectancy_female          False
mortality_rate_under5           False
mortality_rate_under5_male      False
mortality_rate_under5_female    False
mortality_rate_1to4             False
mortality_rate_1to4_male        False
mortality_rate_1to4_female      False
crude_birth_rate                False
crude_death_rate                False
net_migration                   False
rate_natural_increase           False
growth_rate                     False
fertility_rate_15_19            False
fertility_rate_20_24            False
fertility_rate_25_29            False
fertility_rate_30_34            False
fertility_rate_35_39            False
fertility_rate_40_44            False
fertility_rate_45_49            False
total_fertility_rate            False
gross_reproduction_rate         False
sex_ratio_at_birth              False
dtype: bool

- Dữ liệu đầy đủ không thiếu và đúng kiểu dữ liệu. Nhóm không xử lý dữ liệu.

### Mối tương quan đa giữa các cột trong "birth_death_growth_rates"